.row:after {
	display: table;
	clear: both;
}

.column {
	float: left;
	width: 50%;
	height: 10em;
	position: relative;
	transition: transform 0.5s ease;
}

.column:hover {
	transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.textDiv {
	padding: 8px;
	background-color: #f5f5f5;
	margin-bottom: 2em;
}
